@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-color: #db2c2b;
  --background-color: #22201e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  color: #f2f3f4;
}

a {
  text-decoration: none;
}
header {
  box-shadow: #333;
  position: sticky;
  top: 0;
  z-index: 100;
  /* position: relative; */
}
small {
  font-size: 11px;
}
.header_container {
  position: sticky;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.header_appointment {
  display: flex;
  height: 100%;
  width: 60px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.header_appointment .img_scale {
  transform: scale(1.3);
}
.header_appointment a {
  transition: transform 500ms ease;
}
.header_appointment a:hover {
  transform: translateY(-10%);
}

.header_img {
  display: flex;
}

.header_img img:nth-child(2) {
  scale: 0.55;
  margin-left: -30px;
}
.main_content {
  /* height: 140vh; */
  width: 100%;
  background: url(./img/bone_hero_img.jpg) no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #22201e;
  display: grid;
  align-items: center;
  justify-content: center;
}

.pricelist_container {
  /* max-width: 1000px; */
  display: grid;
  align-items: center;
  /* justify-content: center; */
  background-color: #333;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 50vw;
  height: 70vh;
  border-radius: 15px;
}

.btn {
  background-color: #22201e;
  /* background-color: transparent; */
  color: #f2f3f4;
  width: 290px;
  height: 65px;
  letter-spacing: 1px;
  border: #db2c2b solid 1px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
  transition: transform 500ms ease;
}

.btn:hover {
  background-color: #db2c2b;
  border: #22201e 1px solid;
  transform: translateY(-8%);
}
.pricelist_table {
  margin: 10px 60px 0px 60px;
  height: 43vh;
  /* width: 85%; */
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  top: 10px;
  opacity: 0.9;
  /* letter-spacing: 1px; */
  line-height: 1.2;
  font-weight: 500;
}
/* .pricelist_table tr:hover {
  border-bottom: #f2f3f4 1px solid;
} */

.pricelist_table tr td {
  text-align: left;
  /* border-bottom: rgb(192, 184, 184, 0.1) 1px solid; */
}

.pricelist_table tr td:nth-child(2) {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
}

.pricelist_container p {
  margin: 0px auto;
  position: relative;
  top: -22px;
  font-size: 14px;
  color: rgba(219, 211, 211, 0.8);
}

.telegram_section {
  background-color: var(--background-color);
}
.telegram_container {
  /* width: 800px; */
  margin: auto;
  display: grid;
  width: 70%;
  height: 350px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
}
.telegram {
  background-color: #333;
  display: grid;
  z-index: 0;
  align-items: center;
  justify-content: center;
  /* width: 400px; */
  border-radius: 10px;
  /* height: 25vh; */
}

.telegram img {
  height: 60px;
  margin: 20px auto;
  /* padding-top: 10px; */
}

.telegram_text {
  padding-bottom: 15px;
  font-size: 17px;
  padding: 0px 10px;
}

.telegram_text a {
  text-decoration: none;
  color: #419fd9;
}

.heshtag_text {
  display: grid;
  margin-top: 20px;
  /* width: 400px; */

  /* height: 30vh;	 */
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  /* text-justify: inter-cluster; */
}

.heshtag_text p {
  text-align: justify;
  padding: 0px 25px;
  opacity: 0.9;
}

.blackhash {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  margin: auto;
}
/* Адреса */
.adress_container {
  background-color: var(--background-color);
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 70%; */
}

.adress {
  position: relative;
  width: 100%;
}
.dropdown_wrapper {
  max-width: 1200px;
  height: 60px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  padding: 5px;
  border-bottom: 1px solid #333;
}
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 5%; */
  position: relative;
}
.btn_wrapper i {
  position: absolute;
}

.dropdown_text {
  max-width: 1200px;
  height: 90%;

  border-left: 6px var(--main-color) solid;
  display: flex;
  align-items: center;
}
.dropdown_text p {
  font-size: 1.6em;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.dropdown_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc69;
  height: 100%;
}
.dropdown_container button {
  margin-right: 30px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  font-size: 16px;
  /* height: 100%; */
}

.dropdown_content {
  display: none;
  line-height: 1.5;
  font-size: 16px;
  /* position: absolute;	 */
  background-color: #333;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  list-style: none;
}
.dropdown_container:last-child {
  border: none;
}
.dropdown_content li {
  padding: 10px;
}
.dropdown_content li:last-child {
  border: none;
}
.long {
  width: 100%;
  height: 10px;
}

.social {
  margin-top: 5px;
}
.social a {
  margin-left: 15px;
}
.social a:first-child {
  margin: 0;
}
.social a i {
  transform: scale(0.95);
}

.dropdown_adress {
  font-size: 18px;
  margin-left: 20px;
}

.dropdown_adress p {
  opacity: 0.75;
}
.dropdown_adress p:first-child {
  opacity: 1;
  font-size: 19px;
}
